.display-container {
  margin: 2rem;
  padding: 2rem;
  border: 1px solid #ccc;
  text-align: center;
}

.image {
  max-width: 500px;
  display: block;
  margin: 1rem auto;
}

.genre {
  cursor: pointer;
  color: red;
  margin-right: 10px;
}
